<div class="modal-header card-header" style="height: 60px; padding-top: 10px;" appModalFocus>
  <h4 class="modal-title pull-left">Cambio de Password</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body card-body">
  <form  #passwordForm="ngForm" (keyup.enter)="passwordForm.valid ? onSubmit() : '';">
    <div class="col-md-8 offset-2 form-group">
      <!--<label for="username" class="control-label mb-1">Usuario</label>-->
      <input id="username" [(ngModel)]="user" name="username" type="text" class="form-control"
             aria-required="true" autocomplete="off" placeholder="Usuario"
             aria-invalid="false" disabled required appAutofocus appControlStatusDirectiveDirective>
      <a *ngIf="!user " class="text-danger">
        <small>El usuario es requerido.</small>
      </a>
    </div>
    <div class="col-md-8 offset-2 form-group">
      <!--<label for="password" class="control-label mb-1">Contrase&ntilde;a</label>-->
      <input id="password" [(ngModel)]="pass" name="password" type="password" class="form-control"
             aria-required="true" appControlStatusDirectiveDirective autocomplete="off" placeholder="Contrase&ntilde;a"
             aria-invalid="false" required>
      <a *ngIf="!pass " class="text-danger">
        <small>La contraseña es requerida.</small>
      </a>
    </div>
    <div class="col-md-8 offset-2 form-group">
      <!--<label for="password-confirm" class="control-label mb-1">Confirmar Contrase&ntilde;a</label>-->
      <input id="password-confirm" [(ngModel)]="passConfirm" name="password-confirm" type="password"
             class="form-control" autocomplete="off" placeholder="Confirmar Contrase&ntilde;a"
             aria-required="true" appControlStatusDirectiveDirective
             aria-invalid="false" required>
      <a *ngIf="!pass " class="text-danger">
        <small>La confirmaci&oacute;n de contraseña es requerida.</small>
      </a>
    </div>
  </form>
</div>
<div class="modal-footer card-footer" >
  <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  <button type="button" (click)="onSubmit()" class="btn btn-primary">Aceptar</button>
</div>
