<div class="modal-header card-header" style="height: 60px; padding-top: 10px;">
  <h4 class="modal-title pull-left">Programa de Lealtad</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="_bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body card-body">
  <div *ngIf="!bolNuevoCliente" class="card mb-3 col-12" style="background-color: #f8f9fa;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">Búsqueda del cliente</h5>
          <form class="form-horizontal" [formGroup]="frmConsulta" (ngSubmit)="ConsultaForm()">
            <div class="row mt-2">
              <!-- Numero de cliente -->
              <div class="input-group input-group-sm col-12 ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">
                    <img src="../../../assets/images/hashtag.png" class="img-fluid" alt="Responsive image" width="16px">
                  </span>
                </div>
                <input type="text" class="form-control" formControlName="iCodigoCliente" placeholder="Número cliente">
              </div>
              <!-- Nombre del cliente -->
              <div class="input-group input-group-sm col-12 mt-2 ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">
                    <img src="../../../assets/images/usuario.png" class="img-fluid" alt="Responsive image" width="16px">
                  </span>
                </div>
                <input type="text" class="form-control" formControlName="sNombre" placeholder="Nombre">
              </div>
            </div>
            <!-- Apellico paterno -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">
                    <img src="../../../assets/images/usuario.png" class="img-fluid" alt="Responsive image" width="16px">
                  </span>
                </div>
                <input type="text" class="form-control" formControlName="sPaterno" placeholder="Apellido Paterno">
              </div>
            </div>
            <!-- Apellico paterno -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12 ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">
                    <img src="../../../assets/images/usuario.png" class="img-fluid" alt="Responsive image" width="16px">
                  </span>
                </div>
                <input type="text" class="form-control" formControlName="sMaterno"  placeholder="Apellido Materno">
              </div>
            </div>
            <!-- Telefono -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm"><img src="../../../assets/images/llamada.png"
                      class="img-fluid" alt="Responsive image" width="16px"></span>
                </div>
                <input type="number" class="form-control" formControlName="sTelefono" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                  placeholder="Teléfono">
              </div>
            </div>
            <!-- Correo electronico -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm"><img src="../../../assets/images/correo.png"
                      class="img-fluid" alt="Responsive image" width="16px"></span>
                </div>
                <input type="text" class="form-control" formControlName="sEmail" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                  placeholder="Correo electrónico">
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12 text-right">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" formControlName="bTiendaCaja" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Buscar en tienda</label>
                </div>
              </div>
            
            </div>

            <div class="row mt-3">
              <div class="col-12 text-right ">

              
                <button type="button" class="btn btn-default btn-sm" (click)="limpiar('busqueda')">Limpiar
                </button>
                <button type="submit" class="btn btn-primary btn-sm">Buscar
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-8 mt-3">
        <div  *ngIf="this.seleccion" class="alert alert-info" role="alert">
          <div class="row">
            <div class="col-12">
              Cliente: #{{ this.seleccion.iiCodigoCliente}} - {{ this.seleccion.ssNombre}} {{ this.seleccion.ssPaterno}} {{ this.seleccion.ssMaterno}}
            </div>
            <div class="col-12 text-right mt-3">
            <button  *ngIf="this.seleccion && !showButtons && this.consultaLealtadResponse.InfoClientesCRM.length > 0"  type="button"  (click)="_bsModalRef.hide()" class="btn btn-primary btn-sm">Aplicar promoción lealtad
            </button>
          </div>
          </div>
         
        </div>
        <h6 *ngIf="this.consultaLealtadResponse">Clientes encontrados: {{ this.consultaLealtadResponse.iCantidadClientes}}</h6>
        <div class="tableFixHead table-responsive">
          <table class="table table-hover" style="font-size: 0.8rem;">
            <thead>
              <tr>
                <th scope="col">#Cliente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">correo</th>
              </tr>
            </thead>
            <tbody *ngIf="this.consultaLealtadResponse">
              <tr *ngFor="let t of this.consultaLealtadResponse.InfoClientesCRM" (click)="clienteSeleccionado(t);">
                <td class="codecl">{{t.iiCodigoCliente}}</td>
                <td>{{t.ssNombre}} {{t.ssPaterno}} {{t.ssMaterno}}</td>
                <td>{{t.ssTelefono}}</td>
                <td>{{t.ssEmail}}</td>
            </tbody>
          </table>
        
        </div>
       
      </div>
    </div>
  </div>

  <div *ngIf="bolNuevoCliente" class="card mb-3 col-12" style="background-color: #f8f9fa;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Datos del cliente</h5>
          <form autocomplete="off" [formGroup]="frm" class="form-horizontal" (ngSubmit)="SaveForm()">
            <!-- Nombre -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12 ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">
                    <img src="../../../assets/images/usuario.png" class="img-fluid" alt="Responsive image" width="16px">
                  </span>
                </div>
                <input type="text" class="form-control" formControlName="sNombre" placeholder="Nombre">
              </div>
             <div  *ngIf="f.sNombre.errors && f.sNombre.touched"> 
              <small  *ngIf="f.sNombre.errors?.required" class="error">Nombre requerido.</small>
              <small  *ngIf="f.sNombre.errors?.minlength" class="error">Mínimo tres caractéres.</small>
              <small  *ngIf="f.sNombre.errors?.maxlength" class="error">Máximo 50 caractéres.</small>
             </div>
            </div>
            <!-- Apellido Paterno -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">
                    <img src="../../../assets/images/usuario.png" class="img-fluid" alt="Responsive image" width="16px">
                  </span>
                </div>
                <input type="text" class="form-control" formControlName="sPaterno" placeholder="Apellido Paterno">
              </div>
              <div  *ngIf="f.sPaterno.errors && f.sPaterno.touched"> 
                <small  *ngIf="f.sPaterno.errors?.required" class="error">Apellido paterno requerido.</small>
                <small  *ngIf="f.sPaterno.errors?.minlength" class="error">Mínimo tres caractéres.</small>
                <small  *ngIf="f.sPaterno.errors?.maxlength" class="error">Máximo 50 caractéres.</small>
              </div>
            </div>
            <!-- Apellido Materno -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12 ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">
                    <img src="../../../assets/images/usuario.png" class="img-fluid" alt="Responsive image" width="16px">
                  </span>
                </div>
                <input type="text" class="form-control" formControlName="sMaterno" placeholder="Apellido Materno">
              </div>
              <div  *ngIf="f.sMaterno.errors && f.sMaterno.touched"> 
                <small  *ngIf="f.sMaterno.errors?.required" class="error">Apellido materno requerido.</small>
                <small  *ngIf="f.sMaterno.errors?.minlength" class="error">Mínimo tres caractéres.</small>
                <small  *ngIf="f.sMaterno.errors?.maxlength" class="error">Máximo 50 caractéres.</small>
              </div>
            </div>
            <!-- Genero -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm"><img src="../../../assets/images/genero.png"
                      class="img-fluid" alt="Responsive image" width="16px"></span>
                </div>
                <select class="custom-select" formControlName="sGenero">
                  <option value="M" >Hombre</option>
                  <option value="F" selected>Mujer</option>
                </select>
              </div>
              <small *ngIf="getEstatusGenero" class="error">Seleccione un género.</small>
            </div>
            <!-- Telefono  -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm"><img src="../../../assets/images/llamada.png"
                      class="img-fluid" alt="Responsive image" width="16px"></span>
                </div>
                <input type="number" class="form-control" formControlName="sTelefono" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm" placeholder="Teléfono">
              </div>
              <div  *ngIf="f.sTelefono.errors && f.sTelefono.touched"> 
                <small  *ngIf="f.sTelefono.errors?.required" class="error">Teléfono requerido.</small>
                <small  *ngIf="f.sTelefono.errors?.pattern" class="error">Deben ser diez números.</small>
              </div>
            </div>
            <!-- Correo electronico -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm"><img src="../../../assets/images/correo.png"
                      class="img-fluid" alt="Responsive image" width="16px"></span>
                </div>
                <input type="text" class="form-control" formControlName="sEmail" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm" placeholder="Correo electrónico">
              </div>
              <div  *ngIf="f.sEmail.errors && f.sEmail.touched"> 
                <small  *ngIf="f.sEmail.errors?.required" class="error">Correo requerido.</small>
                <small  *ngIf="f.sEmail.errors?.pattern" class="error">Formato incorrecto.</small>
              </div>
            </div>
            <!-- Fecha de nacimiento -->
            <div class="row mt-2">
              <div class="input-group input-group-sm col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">
                    <img src="../../../assets/images/cake.png" class="img-fluid" alt="Responsive image"
                      width="16px"></span>
                </div>
                <input type="date" data-date-format="dd-mm-yyyy" class="form-control" formControlName="sFechaNacimiento"
                  aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
              <small *ngIf="getEstatusFechaNacimiento" class="error">Fecha cumpleaños requerida.</small>
            </div>
            <div class="row mt-2">

              <div class="col-12 text-right mt-3">
                <button type="button" class="btn btn-default btn-sm" (click)="limpiar('registro')">Limpiar
                </button>
                <!-- <button type="button" class="btn btn-default btn-sm" (click)="regresar()">Regresar
                </button> -->
                <button type="submit" class="btn btn-primary btn-sm">Guardar
                </button>

              </div>

            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 text-center align-self-center " style="padding: 0 5%;">
        <div class="p-5 card text-white bg-danger">
          <h5>Número de Cliente</h5>
          <p style="margin: 5% 10%; font-size: 20px;"><strong>{{ this.numeroClienteGenerado}}</strong> </p>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="modal-footer card-footer2">

  <div class="row">
    <div class="col-8">
     
      <button *ngIf="showButtons" type="button" class="btn btn-primary btn-sm" (click)="regresar()">Búsqueda
      </button>
      <button *ngIf="!showButtons" type="button" class="btn btn-success btn-sm" (click)="registrarCliente()">Registrar nuevo
      </button>
    </div>
    <div class="col-4 text-right">
      <button type="button" class="btn btn-secondary btn-sm" (click)="_bsModalRef.hide()">Cerrar</button>
    </div>

  </div>
 

  


</div>