.tableFixHead          { overflow: auto; max-height: 250px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
tr {
    cursor: pointer;
}

.error{
    font-style: italic;
    color: red;
    font-size: 9px;
    margin-left: 14px;
    padding-top: 1px;
    margin-top: 1px;
}

.card-footer2{
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    display: revert;
}

.codecl {
    letter-spacing: 1px;
    font-weight: 600;
    color: #545b62;
}