<ng-container *ngIf="validacion">
    <div class="modal-header card-header" style="height: 60px; padding-top: 10px;">
        <h4 class="modal-title pull-left">Validación de Cajas</h4>
    </div>
    <div class="modal-body card-body">
        <ngx-datatable class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [columnMode]="'force'" [footerHeight]="12" [rows]="cajas" [rowHeight]="'auto'">

            <ngx-datatable-column name="Código Caja" prop="codigoCaja" [sortable]='false'>
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Lectura Z" [sortable]='false'>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i class="fa fa fa-check" aria-hidden="true" *ngIf="row.procesoValidolecturaZ === true"></i>
                    <i class="fa fa-times" aria-hidden="true" *ngIf="row.procesoValidolecturaZ === false"></i>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Logout" [sortable]='false'>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i class="fa fa fa-check" aria-hidden="true" *ngIf="row.procesoValidoLogout === true"></i>
                    <i class="fa fa-times" aria-hidden="true" *ngIf="row.procesoValidoLogout === false"></i>
                </ng-template>

            </ngx-datatable-column>
            <ngx-datatable-column name="Sincronización de Datos" [sortable]='false'>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i class="fa fa fa-check" aria-hidden="true" *ngIf="row.procesoValidoSincronizacionDatos === true"></i>
                    <i class="fa fa-times" aria-hidden="true" *ngIf="row.procesoValidoSincronizacionDatos === false"></i>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Fin de Dia" [sortable]='false'>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i class="fa fa fa-check" aria-hidden="true" *ngIf="row.procesoValidoFinDia === true"></i>
                    <i class="fa fa-times" aria-hidden="true" *ngIf="row.procesoValidoFinDia === false"></i>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Lectura Z Offline" [sortable]='false'>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button type="button" class="btn btn-primary" *ngIf="row.procesoValidolecturaZ === false && row.procesoValidoLogout === false" (click)="lecturaZ(row.codigoCaja)">Lectura Z</button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
        <ngx-datatable-footer></ngx-datatable-footer>
    </div>
    <div class="modal-footer card-footer">
        <div>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
            <button type="button" class="btn btn-primary" *ngIf="this.cajas.length" [disabled]="!validacionCajasEjec" (click)="confirmaCaptura()">Capturar Lectura de Luz</button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!validacion">

</ng-container>